.dashboard {
  &__menu {
    height: 100vh;
  }
  &__nav-item {
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    &:hover {
      background-color: #f4f6fa;
    }
    &.active {
      background-color: #edf2ff;
      color: #0c3ebb !important;
    }
  }
}
