.home-dashboard {
  &__card {
    &-title {
      font-size: 1.1rem;
    }
    &-child {
      height: 8rem;
      & .card-body {
        height: 8rem;
      }
    }
    &-btn {
      font-size: 0.85rem;
    }
  }
  &__img {
    max-width: 9.375rem !important;
    max-height: 5.3rem !important;
  }
  &__report {
    &__text {
      font-size: 0.9rem;
    }
    &__card {
      background-color: #cdd9f9 !important;
      &__img {
        width: 17rem;
      }
    }
  }
}
